PORT=8081
NODE_ENV="development"
JWT_SECRET=your_secret
MONGO_URI=mongodb://mongo_db:27017/your_dbName
RABBITMQ_DEFAULT_USER=your_userName
RABBITMQ_DEFAULT_PASS=your_password
MESSAGE_BROKER_URL=amqp://localhost:5672
MESSAGE_BROKER_URL=amqp://rabbit_mq:5672 
REDIS_HOST=redis_db