NODE_ENV="development"
PORT=8080
QUEUE_NAME=queue
RABBITMQ_DEFAULT_USER=same_as_api-sever
RABBITMQ_DEFAULT_PASS=same_as_api-sever
MESSAGE_BROKER_URL=amqp://localhost:5672
MESSAGE_BROKER_URL=amqp://rabbit_mq:5672
REDIS_HOST =redis_db
BREVO_API_KEY=your_API_KEY
BREVO_SENDER_EMAIL=your_senderEmail
BREVO_SENDER_NAME=your_AppName_it_can_Be_anthingReally